page-dashboard {
  .card {
    margin:10% 5% 0% 5%;
    padding:0px;
    float: left;
    width: calc(50% - 10%);
  }
  .receiver_icon{
    background: linear-gradient(to bottom right, #33cc33 0%, #003300 100%);
    background-color: #33CC33;
  }

  .scan_qr_icon{

    background: linear-gradient(to bottom right, #ffff00 0%, #000000 100%);
    background-color: #dbd138;
  }

  .tickets{
    background: linear-gradient(to bottom right, #66ffff 0%, #333333 100%);
    background-color: #56dbda;
  }

  .move_item{
    background: linear-gradient(to bottom right, #ff0066 0%, #660033 100%);
    background-color: #ff0066;
  }

  ion-card img {
    display: table;
    margin: 0 auto;
    padding: 20px;
  }
}
