
<ion-header>
    <ion-navbar>
        <ion-title>
            Image Upload
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding #RIRI>
    <h3 *ngIf="imageLists.length == 0" text-center>Please Select Images!</h3>
    <ion-item><img [src]="BG_IMG"></ion-item>
    <ion-item-divider color="light" *ngIf="imageLists.length">
        Selected Images
        <a icon-start (click)="uploadImage(imageLists,1)" class="right"><ion-icon name="cloud-upload"></ion-icon>Upload</a>
    </ion-item-divider>
    <ion-scroll class="h-300" scrollY="true">
        <ion-list scroll="true">
            <ion-item *ngFor="let img of imageLists; index as pos">
                <ion-icon name="checkmark-circle"></ion-icon>
                <ion-thumbnail item-start>
                    <img src="{{img.readFileSrc}}" (click)="openGallery(imageLists, pos)"><!--<img [defaultImage]="defaultImg" [lazyLoad]="img.path" [scrollObservable]="RIRI.ionScroll">-->
                </ion-thumbnail>
                <ion-spinner item-end *ngIf="spinnerFlag == true"></ion-spinner>
                <button ion-button clear item-end large (click)="deleteImage(img, pos)"><ion-icon name="trash"></ion-icon></button>
            </ion-item>
        </ion-list>
    </ion-scroll>
    <!--<button ion-button icon-start *ngIf="imageLists.length != 0" (click)="uploadImage(imageLists,1)"><ion-icon name="cloud-upload"></ion-icon>Upload</button>-->
    <ion-item-group style="bottom: 25px;">
        <div *ngIf="!uploadedImages.length && showSpinner" text-center>
            <ion-spinner name="circles"></ion-spinner>
        </div>
        <ion-item-divider color="light" *ngIf="!showSpinner">Uploaded Images</ion-item-divider>
        <ion-item *ngIf="!uploadedImages.length && !showSpinner" no-lines>
            <ion-note color="danger" text-wrap>
                No image(s) uploaded yet for This Receive In Record!
            </ion-note>
        </ion-item>

        <ion-slides #Slider  [slidesPerView]="3.2" [spaceBetween]="5">
            <ion-slide *ngFor="let img of uploadedImages; let i=index">
                <ion-card style="width:100px; height:100px">
                    <img [src]="defaultImg" [lazyLoad]="img.url" [scrollObservable]="Slider.ionSlideWillChange" style="width: 100%; height: 100%" (click)="openGallery(uploadedImages, i)">
                </ion-card>
            </ion-slide>
        </ion-slides>

    </ion-item-group>
</ion-content>


<ion-footer no-padding no-margin no-border text-center align-items-center>
    <ion-item>
        <button class="footerBtns" clear text-center ion-button (click)="takePicture()" large>
            <ion-icon name="camera"></ion-icon>
        </button>
        <button class="footerBtns" clear text-center ion-button (click)="loadMultipleImageFromGallery()" large>
            <ion-icon name="film"></ion-icon>
        </button>
    </ion-item>
</ion-footer>
